//店铺列表模块
.shop{
	background: #fff;
	min-height: 100vh;
	padding-bottom: 48px;
	.row{
		position: relative;
	}
	.icon-add-gray{
		position: absolute;
		bottom: 10px;
		right: 22px;
	}
}

.shop-header{
  width: 100%;
  height: 112px;
  padding: 10px 0;
  color: #fff;
	background: #35A1AE;
	.title{
    padding: 6px 0;
    font-size: 16px;
    border-bottom: 1px dashed #5eb1bf;
		
		.col-12{
			line-height: 24px;
			padding-left: 6px;
			width: 150px;
			overflow: hidden; 
			text-overflow: ellipsis ;
			white-space:nowrap;
		}
    img{
      width: 45px;
      height: 45px;
      border: 1px solid #fff;
      border-radius: 3px;
    }
    .onsale{
      font-size: 12px;
    }
    .km{
      float: right;
      font-size: 14px;
    }
  }
  .discount{
		width: 100%;
    padding: 8px 0;
    line-height: 24px;
		clear: both;
  }
}

.closed{
	.shop-header{
		background: #5db436;
		.title{
			border-bottom: 1px dashed #71ca52;
		}
	}
	.submit-btn{
		background: #e5e5e5;
		font-size: 16px;
		line-height: 42px;
	}
}


.shop-list{
  padding-left: 10px;
  .row{
    position: relative;
		border-bottom: 1px solid #f5f5f5;
		overflow: hidden;
		.col-4{
			padding-top: 16px;
		}
  }
  .handle-bar{
    position: absolute;
    top: 22px;
    right: 10px;
    a{
      float: left;
    }
    span{
      float: left;
      margin-right: 12px;
    }
    .num{
      display: none;
      width: 8px;
      padding-top: 3px;
      text-align: center;
    }
    .icon-minus{
      margin-right: 12px;
      display: none;
    }
    .active{
      display: block !important;
    }
  }
  .item-pic{
    width: 100%;
  }
  .item-info{
    padding-left: 10px;
		line-height: 18px;
		float:left;
    :nth-child(1){
      font-size: 16px;
    }
    :nth-child(2){
      font-size: 12px;
      color: #666;
    }
    :nth-child(3){
      font-size: 16px;
      color: #f43530;
    }
		
  }
}

  footer{
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    line-height: 50px;
  }
  footer.in-rest{
    background: #e5e5e5;
    text-align: center;
    color: #fff;
    font-size: 16px;
  }
  footer.open{
    div{
      width: 70%;
      border-top: 1px solid #ddd;
      float: left;
      padding-left: 8px;
      font-size: 16px;
      span{
        color: $c_red;
      }
    }
    a{
      width: 30%;
      float: left;
      text-align: center;
      font-size: 18px;
      background: $c_yellow;
      color: #fff;
    }
  }
.modal{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(0,0,0, 1);
  .rate-grade{
    text-align: center;
    padding-top: 30px;
    h3{
      color: #fff;
      font-weight: normal;
      margin-bottom: 16px;
      font-size: 20px;
    }
    
    .set-star{
      width: 90%;
      margin: auto;
      padding-bottom: 13px;
      a{
        margin: 0 3px;
      }
    }
  }
  .discount-info{
    width: 80%;
    margin: auto;
    margin-top: 18px;
    border-top: 1px solid #666;
    h4{
      margin: auto;
      margin-top: -10px;
      width: 40%;
      background: #000;
      text-align: center;
      font-size: 16px;
      color: #fff;
    }
    ul{
      color: #fff;
      line-height: 32px;
      margin-top: 12px;
    }
  }
}
