.counter{
  position: absolute;
  right: 10px;
  top: 48px;
  width: 86px;
  line-height: 26px;
  text-align: center;
  .icon-add {
    float: right;
  }
  .icon-minus{
		display: none;
    float:left;
  }
	.icon-return{
		position: absolute;
		top: -22px;
		right: 0px;
	}
	.num{
		display: none;
	}
} 
.show{
	display: inline-block !important;
}
