.order{
	background: #fff;
	min-height: 100vh;
	position: relative;
	.mint-navbar{
		margin-bottom: 3px;
	}
	.swipe{
		height: 180px;	
	}
	.mit-swipe-item{
		background: #ccc;
		img{
			width: 200px;
			height: 120px;
		}
	}
	.icon-done{
		margin-left: 6px;
		float: left;
	}
	.ot-step{
		&:last-child{
			.ot-step-tail{
				display: none;
			}
		}
	}
	.icon-phone{
		position: fixed;
		bottom: 80px;
		right: 10px;
	}
	.submit-btn{
		p{
			width: 30%;
			float: left;
			line-height: 48px;
			height: 48px;
			margin: 0;
			background: #E91923;
		}
		div{
			width: 70%;
			float: right;
			font-size: 14px;
			line-height: 42px;
		}
		div.filled{
			width: 100%;
			font-size: 16px;
		}
	}
	
}


