.order{
	background: #fff;
	min-height: 100vh;
	position: relative;
	.mint-navbar{
		margin-bottom: 3px;
	}
	.swipe{
		height: 180px;	
	} 
	.mit-swipe-item{
		background: #ccc;
		img{
			width: 200px;
			height: 120px;
		}
	}
	.icon-done{
		margin-left: 6px;
		float: left;
	}
	.ot-step{
		&:last-child{
			.ot-step-tail{
				display: none;
			}
		}
	}
	.ot-panel{
		h3{
			font-size: 16px;
			color: #333;
			margin: 13px 0;
			img{
				width: 24px;
			}
		}
	}
	.service-tools{
		position: fixed;
		bottom: 80px;
		right: 10px;
	}
	.icon-phone{
		display: inline-block;
		margin-right: 6px;
	}
	.list{
		.title{
			height: 32px;
			text-align: justify;
  			text-justify: distribute-all-lines;/*ie6-8*/
  			text-align-last: justify; /*ie9*/
  			-moz-text-align-last: justify; /*ff*/
  			-webkit-text-align-last: justify; 
			text-align-last: justify;
			vertical-align: middle;
			overflow:hidden;
			color: #777;
		}
		.title:after{
			content: '';
  			display: inline-block;
  			width: 100%;
  			hegiht: 0;
  			line-height: 0;
		}
		div{
			display: inline-block;
			padding-left: 3px;
			color: #333;
		}
	}
	.submit-btn{
		p{
			width: 30%;
			float: left;
			line-height: 20px;
			height: 48px;
			margin: 0;
			background: #E91923;
		}
		div{
			width: 70%;
			float: right;
			font-size: 14px;
			line-height: 44px;
		}
		div.filled{
			width: 100%;
			font-size: 16px;
		}
	}
	
}


