* {
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	background: #f5f5f5;
	font-size: 14px;
}
.container{
	padding: 0 10px;
}
ul,dl{
	list-style: none;
	padding: 0;
}
input{
	font-size: 14px;
	padding-left: 10px;
	border-radius: 0;
	border: none;
}
a{
	text-decoration: none;
	color: #666;
}
img{
	vertical-align: middle;
  width: 100%;
}
.table-price{
	width: 100%;
  margin-bottom: 0;
  td{
    border-top: none !important;
    padding: 4px 0;
  }
  td:nth-child(1){
    display:inline-block;
    width: 160px;
    overflow: hidden; 
    text-overflow: ellipsis ;
    white-space:nowrap;  
  }
  td:nth-child(2){
    color: #999;
  }
  td:last-child{
    text-align: right;
  }
}
.mint-msgbox-btn{
	font-size: 14px;
}

